Source: libarea
Priority: extra
Maintainer: Romuald Conty <neomilium@gmail.com>
Build-Depends: debhelper (>= 8), python-dev (>=2.6.6-3~), libboost-python-dev
Standards-Version: 3.9.3
Section: python
Homepage: https://github.com/Heeks/libarea/
Vcs-Git: git://github.com/Heeks/libarea
Vcs-Browser: https://github.com/Heeks/libarea

Package: python-area
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Area C++ class with a Python module
 Derived from the kbool library written by Klaas Holwerda
 http://boolean.klaasholwerda.nl/bool.html.
 .
 This package contains the shared library.



